RewriteEngine On
Options All -Indexes

#prevenir acesso ao arquivo .htaccess
<files .htaccess>
    order allow,deny
    deny from all
</files>

#url amigavel com um soh parametro
RewriteRule ^([0-9a-zA-Z-_@./]+)$ index.php?route=$1 [QSA]

